<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>KAPS Member Check</h2>
    <p><%= @result %></p>
    <a href="/"><< Back</a>
  </div>
</div>
